<div
  class="justify-center items-center m-[90px] max-sm:mx-[20px] max-sm:my-[90px]"
>
  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul
      class="flex flex-wrap -mb-px text-sm font-medium text-center"
      id="default-tab"
      data-tabs-toggle="#default-tab-content"
      role="tablist"
    >
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg"
          id="question-tab"
          data-tabs-target="#question"
          type="button"
          role="tab"
          aria-controls="question"
          aria-selected="false"
        >
          Try Me
        </button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="pdf-tab"
          data-tabs-target="#pdf"
          type="button"
          role="tab"
          aria-controls="pdf"
          aria-selected="false"
        >
          PDF Loader
        </button>
      </li>
    </ul>
  </div>
  <div id="default-tab-content">
    <div
      class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
      id="question"
      role="tabpanel"
      aria-labelledby="question-tab"
    >
      <div class="mb-6">
        <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Question</label>
        <input type="text" id="large-input" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        (keydown.enter)="query()" [(ngModel)]="question" placeholder="Ask me something...">
      </div>
    </div>
    <div
      class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800"
      id="pdf"
      role="tabpanel"
      aria-labelledby="pdf-tab"
    >
      <p class="text-sm text-gray-500 dark:text-gray-400">
        This is some placeholder content the
        <strong class="font-medium text-gray-800 dark:text-white"
          >pdf tab's associated content</strong
        >. Clicking another tab will toggle the visibility of this one for the
        next. The tab JavaScript swaps classes to control the content visibility
        and styling.
      </p>
    </div>
  </div>
</div>
